<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Signup</title>
    </head>
    <body>
        <link rel="stylesheet" href="/public/style.css" />

        <div class="card">

            <h2>Signup</h2>

            <input id="username" class="input" placeholder="username"><br/>
            <input id="firstname" class="input" placeholder="firstname"><br/>
            <input id="lastname" class="input" placeholder="lastname"><br/>
            <input id="password" class="input" placeholder="password" type="password"><br/>

            <button id="signupBtn" class="btn btn-primary">Create</button>

            <p style="margin-top: 12px;">
                <a href="/login.html">Back to login</a>
            </p>
        </div>
        

        <script>
            document.getElementById('signupBtn').addEventListener('click', async () => {
                const body = {
                    username: document.getElementById('username').value.trim(),
                    firstname: document.getElementById('firstname').value.trim(),
                    lastname: document.getElementById('lastname').value.trim(),
                    password: document.getElementById('password').value.trim()
                };

                const res = await fetch('http://localhost:8081/api/signup', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json'},
                    body: JSON.stringify(body)
                });

                const data = await res.json();
                if (!res.ok) return alert(data.message);

                alert('Signup successful, noe login');
                window.location.href = '/login.html';
            });
        </script>
    </body>
</html>